.productsection {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  gap: 20px;
}

.productsectionleft {
  width: 80%;
  height: auto;
  display: flex;
}

.productsectionright {
  width: 30%;
  height: auto;
  padding: 0px 0px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.advimg1 {
  height: 270px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.adddiv1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  width: 100%;
  height: 192px;
}

.adddiv1 img{
  width: 100%;
  height: 100%;
}

.productmain {
  width: 15%;
  padding: 45px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productmainheading {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.productmainlist {
  padding-top: 20px;
  width: 100%;
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.ourproductslogo {
  width: 100%;
  height: 85vh;
}

#searchbar3 {
  max-width: 300px;
}

.productshowcase {
  display: flex;
  padding: 0px 30px 30px 30px;
}

.productsectionheader {
  height: 100px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionleft {
  padding-left: 30px;
  font-size: 25px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.sectionright {
  padding-right: 30px;
}

.sectionright input {
  border: none;
}

.productsearch img {
  margin-left: -22px;
}

.productmainproducts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  align-self: center;
  margin-top: 40px;
}
.pagination{
  display: flex;
  justify-content: space-between;
}

.pagination-btn {
  /* Your default button styles here */
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  /* Other styles as needed */
}

.pagination-btn.active {
  /* Highlight styles for the active button */
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  /* Other styles as needed */
}

.pagination{
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}

.slider-container {
  height: 62vh;
}

.productmainproducts ul {
  margin-left: -13px;
  list-style: circle;
}

.productmainproducts ul li {
  font-family: sans-serif;
}

.productmainproducts ul a {
  color: black;
}


/* Media Queries */

@media (max-width: 900px) {
  .productsectionleft {
    gap: 50px;
  }
}

@media (max-width: 680px) {
  .productsectionleft {
    gap: 50px;
  }
}

@media (max-width: 760px) {
  .productsectionright {
    padding: 10px 20px 0px 0px;
  }
}

@media (max-width: 580px) {
  #searchbar2 {
    display: none !important;
  }
  .productsectionright {
    margin-top: 24px;
    padding: 20px;
  }
  .productshowcase {
    flex-direction: column;
  }
  .productsectionleft {
    width: 100%;
  }
  .productsectionright {
    width: 100% !important;
  }
  .pagination {
    margin-left: -21px !important;
  }
  .productmainlist {
    gap: 10px !important;
  }
  .searchbar input {
    height: 50px !important;
    margin-top: 0;
  }
  .searchbar img {
    margin-top: 0;
  }
  .pagination {
    margin-left: 0 !important;
  }
}
